body {
     background-color: rgb(225, 255, 227);

}
#grass {
     width: 1260px;
     height: 200px;
     margin-top: 0%;
     margin-left: 0%;
     
}
#tree {
     border: 6px solid rgb(61, 35, 35);
     top: 0;
     border-radius: 50%;
     margin-left: 300px;
     margin-right: auto;
     height: 100px;
     width: auto;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'pacifico', 'cursive';
}
p {
   text-align: center;
   font-size: 15px;
}
form {
     text-align: center;
}
#garden {
     width: 1260px;
     text-align: center;
}